<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Ruralis Magazine ambitionne de donner à voir les transformations des territoires ruraux en participant de façon volontariste et délibérément optimiste à la réflexion du devenir des campagnes et de leur nouvelle gouvernance."/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>{% block title %}Ruralis magazine{% endblock %}</title>

    {% block stylesheets %}
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <link rel="stylesheet" href="{{ asset('bundles/ruralis/materialize/css/materialize.css') }}"/>
        <!--Let browser know website is optimized for mobile-->
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/ruralis/stylesheets/main.css') }}"/>
    {% endblock %}

    <link rel="icon" type="image/png" href="{{ asset('bundles/ruralis/images/logo.png') }}"/>
</head>
<body>

    {%  block header %}

    <header>
        <div class="row navbar-fixed fixed_nav navigation">
            <div class="ancre" name="top" id="top"></div>
            <div class="row nl orangebckg">
                <div class="col s1 navcolleft">
                    <a href="{{ path ('ruralis_homepage') }}">
                        <img src="{{ asset ('bundles/ruralis/images/logonav2.png') }}" alt="Ruralis" class="ruralismag">
                    </a>
                </div>
                <div class="col s1 nav-wrapper">
                    <a href="{{ path ('ruralis_homepage') }}">
                        <img src="{{ asset ('bundles/ruralis/images/logoarbre1.png') }}" id="animation" alt="Logo arbre" class="smallarbre">
                    </a>
                </div>
                <div id="bottommark"></div>
                <div class="col s10">
                    <div class="row orangebckg">
                        <a href="{{ path ('ruralis_homepage') }}" class="brand-logo RuralisLogo">
                            <img src="{{ asset ('bundles/ruralis/images/textlogo.png') }}" alt="Demain s'invente dans les campagnes" class="navbar_logo2">
                        </a>
                    </div>
                </div>
            </div>
            <div class="row whitebckg">
                <div class="row nav_1line">
                    <ul class="col offset-s2 s10 navlinks">
                        <li><a href="{{ path('ruralis_homepage') }}">Accueil</a></li>
                        <li class="marginnav"><a href="{{ path('ruralis_presentation') }}">Ruralis</a></li>
                        <li class="marginnav"><a href="{{ path('ruralis_abonnement') }}">S'abonner</a></li>
                        <li class="marginnav"><a href="{{ path('ruralis_partenaire') }}">Partenaires</a></li>
                        <li class="marginnav"><a href="{{ path('article_index') }}">Admin</a></li>
                    </ul>
                </div>
                <div class="row nav_2line">
                    <ul class="col offset-s2 s10">
                        <li class="col s2 offset-s1 nl">
                            Newsletter
                        </li>
                        <li class="col s4 input-field mailbox"> <input id="email" type="email" class="validate">
                            <label for="email">Email</label>
                        </li>
                        <button class="col s1 btn waves-effect waves-light nl" type="submit" name="action">Ok
                            <i class="material-icons right">send</i>
                        </button>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    {% endblock %}
    
    {% block body %}
    {% endblock %}
    {% block footer %}
        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col s12 m3 offset-m1 left">
                        <img id="logoruralis" src="{{ asset('bundles/ruralis/images/logo_mini.png') }}" alt="logo">
                    </div>
                    <div class="col s12 m3 white-text">
                        <p>NOUS CONTACTER</p>
                        <p>Association APRIORI / Ruralis Magazine</p>
                        <p>12, rue du Four-Dieu</p>
                        <p>45200 Montargis</p>
                        <p>06 80 73 88 34</p>
                        <p>contact@ruralismagazine.fr</p>
                    </div>
                    <div class="col s12 m3 offset-m2 center">
                        <a href="http://www.wildcodeschool.fr" target="_blank">
                            <img id="logowcs" src="{{ asset('bundles/ruralis/images/logowcs.png') }}" alt="logo de la Wild Code School" />
                        </a>
                    </div>
                </div>
            </div>
        </footer>
<<<<<<< HEAD


=======
>>>>>>> ac3476033c48ccba99b824bac10fcf7e6e771dae
    {% endblock footer %}
    {% block javascripts %}
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="{{ asset('bundles/ruralis/materialize/js/materialize.min.js') }}"></script>
        <script src="{{ asset('bundles/ruralis/javascript/base.js') }}"></script>
        <script src="{{ asset('bundles/ruralis/javascript/blog.js') }}"></script>
    {% endblock %}
</body>
</html>