<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Ruralis Magazine ambitionne de donner à voir les transformations des territoires ruraux en participant de façon volontariste et délibérément optimiste à la réflexion du devenir des campagnes et de leur nouvelle gouvernance."/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>{% block title %}Ruralis magazine{% endblock %}</title>

    {% block stylesheets %}
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <link rel="stylesheet" href="{{ asset('bundles/ruralis/materialize/css/materialize.css') }}"/>
        <!--Let browser know website is optimized for mobile-->
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/ruralis/stylesheets/main.css') }}"/>
    {% endblock %}

    <link rel="icon" type="image/png" href="{{ asset('bundles/ruralis/images/logo.png') }}"/>
</head>
<body>

    <header>
        <div class="ancre" id="top"></div>
        <div class="navbar-fixed">
            <nav>
                <a href="https://twitter.com/Ruralismagazine" target="_blank">
                    <img class="logotwitter" src="{{ asset('bundles/ruralis/images/twitter.png') }}" alt="twitter" />
                </a>
                <a href="https://www.facebook.com/Ruralis-Magazine-488687077922669/" target="_blank">
                    <img class="logofb" src="{{ asset('bundles/ruralis/images/facebook.png') }}" alt="facebook" />
                </a>
                <a href="http://www.instagram.com" target="_blank">
                    <img class="logoinsta" src="{{ asset('bundles/ruralis/images/instagram.png') }}" alt="instagram" />
                </a>
                <div class="nav-wrapper z-depth-1">
                    <img src="{{ asset('bundles/ruralis/images/logoarbre1.png') }}" id="animation" alt="Logo arbre16"/>
                    <!-- Next image is used for first frame, before scroll -->
                    <!--<img src="img/logoarbre1.png" />-->
                    <div id="bottommark"></div>

                      {#INSERER LES LIENS VERS LES PAGES DANS LE MENU#}
                    <ul class="left hide-on-med-and-down">
                        <li><a href="{{ path('ruralis_homepage') }}">Accueil</a></li>
                        <li><a href="{{ path('ruralis_presentation') }}">Ruralis</a></li>
                        <li><a href="{{ path('ruralis_abonnement') }}">S'abonner</a></li>
                        <li><a href="#">Partenaires</a></li>
                        <li><a href="#">Newsletter</a></li>
                        <li><a href="{{ path('article_index') }}">Admin</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>


    <div id="bodytop">
        {% block body %}
        {% endblock %}
    </div>


    <div class="row">
        <footer>
            <div class="col m6">
                <img id="logowcs" src="{{ asset('bundles/ruralis/images/logo.png') }}" alt="logo">
            </div>
            <div class="col m6">
                <a href="http://www.wildcodeschool.fr" target="_blank">
                    <img id="logowcs" src="{{ asset('bundles/ruralis/images/logowcs.png') }}" alt="logo de la Wild Code School" />
                </a>
            </div>

        </footer>
    </div>


    {% block javascripts %}
        <script src="{{ asset('bundles/ruralis/javascript/base.js') }}"></script>
        <!-- Compiled and minified JavaScript -->
        <script type="text/javascript" src="{{ asset('bundles/ruralis/javascript/jquery-3.1.1.min.js') }}"></script>
        <script src="{{ asset('bundles/ruralis/materialize/js/materialize.js') }}"></script>
    {% endblock %}
</body>
</html>