{% extends 'base.html.twig' %}

{% block body %}

    </header>

    <h1>Nouvel article</h1>

    {{ form_start(form) }}
    <div>
        {{ form_label(form.nom) }}
        {{ form_errors(form.nom) }}
        {{ form_widget(form.nom) }}
    </div>
    <div>
        <div class="input-field col s12">
            <label>
                {{ form_label(form.typeAffichage) }}
            </label>
            <select>
                <option value="" disabled selected>Choisissez le type d'affichage</option>
                <option value="1">Petite image</option>
                <option value="2">Grande image</option>
            </select>
        </div>
        {{ form_errors(form.typeAffichage) }}
        {{ form_widget(form.typeAffichage) }}
    </div>
    <div>
        {{ form_label(form.descriptif) }}
        {{ form_errors(form.descriptif) }}
        {{ form_widget(form.descriptif) }}
    </div>
    <div>
        {{ form_label(form.contenu) }}
        {{ form_errors(form.contenu) }}
        {{ form_widget(form.contenu) }}
    </div>
    <div>
        {{ form_label(form.auteur) }}
        {{ form_errors(form.auteur) }}
        {{ form_widget(form.auteur) }}
    </div>
    <div>
{#        {{ form_label(form.date) }}
        {{ form_errors(form.date) }}
        {{ form_widget(form.date) }}#}

    </div>
    <div class="row file-field input-field">
        <div class="btn">
            <span>Image</span>
            {{ form_widget(form.image.file) }}
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Cliquez pour ajouter votre image" required>
        </div>
        {{ form_errors(form.image.file) }}
    </div>

    <div class="row input-field">
        {{ form_label(form.image.alt) }}
        {{ form_widget(form.image.alt) }}
        {{ form_errors(form.image.alt) }}
    </div>
   <input type="submit" value="Ajouter un article" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('article_index') }}">Liste des articles</a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script>
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15 // Creates a dropdown of 15 years to control year
        });
        $(document).ready(function() {
            $('select').material_select();
        });
</script>
{% endblock %}
