{% extends 'base.html.twig' %}

{% block body %}
<div class="row adminmodel z-depth-2">
    <div class="col m10 offset-m1">
        <h1>{{ article.nom }}</h1>

        <table>
            <tbody>
                <tr>
                    <th>Nom</th>
                    <td>{{ article.nom }}</td>
                </tr>
                <tr>
                    <th>Descriptif</th>
                    <td>{{ article.descriptif }}</td>
                </tr>
                <tr>
                    <th>Contenu</th>
                    <td>{{ article.contenu | raw}}</td>
                </tr>
                <tr>
                    <th>Auteur</th>
                    <td>{{ article.auteur }}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>{{ article.date|date('d M Y') }}</td>
                </tr>
                <tr>
                    <th>Image</th>
                    <td><img class="imageAdmin" src="{{ asset('/uploads/images/') }}{{ article.image.url }}" alt="{{ article.image.alt }}"></td>
                </tr>
                <tr>
                    <th>Description de l'image</th>
                    <td>{{ article.image.alt }}</td>
                </tr>
            </tbody>
        </table>

        {# Boutons #}
        <div class="center">
            <a class="waves-effect waves-light btn" href="{{ path('article_edit', { 'id': article.id }) }}">
                Editer
            </a>

            <a class="waves-effect waves-light btn" href="{{ path('article_delete', { 'id': article.id }) }}">Supprimer
            </a>

            <a class="waves-effect waves-light btn" href="{{ path('article_index') }}">
                Liste des articles
            </a>
        </div>
    </div>
</div>
{% endblock %}
