{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="front">
    <form action="{{ path("fos_user_security_check") }}" method="post">
        <div class="login texteBlanc">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}
            <div class="input-field col s6">
                <i class="material-icons prefix">perm_identity</i><input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">lock</i><input type="password" id="password" name="_password" required="required" />
            </div>
            <div class="input-field col s6">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">{{ 'Rester enregistré'|trans }}</label>
            </div>
        </div>
        <div class="row">
            <div class="col offset-s2 s8">
                <a class="waves-effect waves-light btn btnLogin">
                    <input type="submit" id="_submit" name="_submit" value="{{ 'Se connecter'|trans }}" />
                </a>
            </div>
        </div>
    </form>

</div>
