{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Identification</h1>
        <div class="center">
            <a href="{{ path('fos_user_registration_register') }}">S'enregistrer</a>
        </div>
        <div class="row">
            <div class="col offset-s3 s9">
                <img class="logo" src="{{ asset('bundles/findme/images/findme_logo_vert.png') }}" alt="background">
            </div>
        </div>
        <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'Se déconnecter'|trans({}, 'FOSUserBundle') }}
                </a>
            {% endif %}
        </div>

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div>
            {% block fos_user_content %}
                {% if error %}
                    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
                {% endif %}

                <form action="{{ path("fos_user_security_check") }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                    <label for="username">{{ 'plop'|trans({}, 'FOSUserBundle') }}</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

                    <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                    <input type="password" id="password" name="_password" required="required" />

                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>

                    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
                </form>
            {% endblock fos_user_content %}
        </div>
    </div>

    {{ parent() }}

{% endblock %}