{% extends 'base.html.twig' %}

{% block body %}

	<div class="abonnement">
        <div class="row center">
        {#div générale#}
			<div class="col s12">
				<h1 class="center">Abonnez-vous ! Soutenez-nous !</h1>
				<p class="center">
					Chers(ères) lecteurs(trices), acteurs(trices) des territoires ruraux, citoyens engagés, amoureux (...) de la campagne
				</p>
			</div>
		</div>

		<div class="row center">
			<div class="col s4 fixed options">
				<p>
					Ce projet fait sens pous vous ? <br/>
					J'encourage Ruralis Magazine<br/>
					<img class="logoabt" src="{{ asset('bundles/ruralis/images/logopaypal.png') }}" alt="logo Paypal"/>
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="PQNUT7JUEUQ3U">
						<input type="image" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal, le réflexe sécurité pour payer en ligne">
						<img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
					</form>
				</p>
			</div>

			<div class="offset-m4 col m4 s12">
				<div class="m12 s6 abovert">
					<a href="{{ path('ruralis_formulaire_abonnement', {'type':'lecteur'}) }}">
						<img class="hoverable responsive-img imgvert" src="{{ asset('bundles/ruralis/images/bouton-vert .png') }}"/>
					</a>
				</div>

				<div class="m12 s6 abotop">
					<a href="{{ path('ruralis_formulaire_abonnement', {'type':'donateur'}) }}">
						<img class="hoverable responsive-img" src="{{ asset('bundles/ruralis/images/bouton-jaune .png') }}"/>
					</a>
				</div>

				<div class="m12 s6 abotop">
					<a href="{{ path('ruralis_formulaire_abonnement', {'type':'ambassadeur'}) }}">
						<img class="hoverable responsive-img" src="{{ asset('bundles/ruralis/images/bouton-orange .png') }}"/>
					</a>
				</div>
			</div>

			<div class="offset-s8 col s4 fixed options">
				<p>
					Offrir un abonnement à un proche, c'est soutenir Ruralis Magazine et participer au pluralisme de la presse.<br/>
				</p>
				<p>
					<a class="waves-effect waves-light btn nl" href="{{ path('ruralis_cadeau', {'cadeau':'true'}) }}">
					J'offre un abonnement à un proche
					</a>
				</p>
			</div>
		</div>

        {# Si responsive#}
		<div class="row center fixedResponsive ">
			<div class="col s12 fixedResponsive">
				<p>Ce projet fait sens pous vous ?</p>
				<p>J'encourage Ruralis Magazine</p>
				<img class="logoabt" src="{{ asset('bundles/ruralis/images/logopaypal.png') }}" alt="logo Paypal"/>
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="PQNUT7JUEUQ3U">
					<input type="image" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal, le réflexe sécurité pour payer en ligne">
					<img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
				</form>
			</div>

			<div class="col s12 fixedResponsive">
				<p>
					Offrir un abonnement à un proche, c'est soutenir Ruralis Magazine et participer au pluralisme de la presse.<br/>
				</p>
				<p>
					<a class="waves-effect waves-light btn nl" href="{{ path('ruralis_cadeau', {'cadeau':'true'}) }}">
						Offrir un abonnement
					</a>
				</p>
			</div>
		</div>
	</div>

{% endblock %}