{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
	<div class="col s8 offset-s2"> {#div générale#}
		<div class="col s12 lecteur">
			<div class="row valign-wrapper">
				<div class="col l1 m1 s1">
					<i class="material-icons">add</i>
				</div>
				<div class="col offset-l1 l11 offset-m1 m11 offset-s1 s10">
					<h3>Abonnez-vous ! Soutenez-nous ! </h3>
				</div>
			</div>
			<div class="col l8 m8 s8">
				<p>Cher(ère) lecteur(trice), acteur(trices) des territoires ruraux, citoyens engagés, amoureux (...) de la campagne</p>
			</div>
			<div class="col l4 m4 s4">
				<a href="{{ path('ruralis_abonnement') }}">
					<img class="hoverable responsive-img" src="{{ asset('bundles/ruralis/images/bouton-vert .png') }}"/>
				</a>
			</div>
			<div class="col l7 m7 s7 lecteur2 valign-wrapper">
				Ce projet fait sens pour vous,
					<ul>
						<li>
							<a href="{{ path('ruralis_abonnement') }}">
								devenez donateur
								<img class="hoverable responsive-img" src="{{ asset('bundles/ruralis/images/logo.png') }}" alt="Logo">
							</a>
						</li>
						<li>
							<a href="{{ path('ruralis_abonnement') }}">
								devenez ambassadeur
								<img class="hoverable" src="{{ asset('bundles/ruralis/images/logo.png') }}" alt="Logo">
							</a>
						</li>
					</ul>
			</div>
			<div class="col l5 m5 s5 don hoverable valign-wrapper">
				<a href="{{ path('ruralis_abonnement') }}">
					Faire un don en ligne
				</a>
			</div>
		</div>
		<div class="col l12 m12 s12 cadeau">
			<p>
				Offrir un abonnement à un proche, c'est soutenir Ruralis Magazine et participer au pluralisme de la presse.
				<a class="hoverable" href="{{ path('ruralis_abonnement') }}">
					J'offre un abonnement à un proche
				</a>
			</p>
		</div>
		<div class="col l12 m12 s12 donateur">
			<div class="col l5 m5 s5">
				<div class="col l1 m1 s1">
					<i class="material-icons">add</i>
				</div>
				<a href="{{ path('ruralis_abonnement') }}">
					<img class="hoverable responsive-img" src="{{ asset('bundles/ruralis/images/bouton-jaune .png') }}"/>
				</a>
			</div>
			<a href="{{ path('ruralis_abonnement') }}">
				<div class="col l7 m7 s7 donateur2 hoverable valign-wrapper">
						Je m'abonne et deviens donateur
				</div>
			</a>
			<a href="{{ path('ruralis_abonnement') }}">
				<div class="offset-s5 col s7 donateur3 hoverable valign-wrapper">
						Devenir Ambassadeur
						<img class="responsive-img" src="{{ asset('bundles/ruralis/images/logo.png') }}" alt="Logo">
				</div>
			</a>
		</div>
		<div class="col l12 m12 s12 ambassadeur">
			<div class="col l4 m4 s4 ambassadeur2">
				<div class="col l1 m1 s1">
					<i class="material-icons">add</i>
				</div>
				<a href="{{ path('ruralis_abonnement') }}">
					<img class="hoverable responsive-img" src="{{ asset('bundles/ruralis/images/bouton-orange .png') }}"/>
				</a>
			</div>
			<a href="{{ path('ruralis_abonnement') }}">
				<div class="col l7 m7 s7 ambassadeur3 hoverable valign-wrapper">
					Je m'abonne et deviens ambassadeur
				</div>
			</a>
		</div>
	</div>
</div>

{% endblock %}