{% extends 'base.html.twig' %}

{% block body %}
    {% if cadeau != true %}
        <h1>Vous abonner en tant que {{ app.session.get('type') }}</h1>
    {% else %}
        <h1>Abonner un proche en tant que lecteur</h1>
    {% endif %}

    <div class="row abomodel z-depth-2">
        <form name="formAbo" class="formulaire" action="{{ path('ruralis_recapitulatif_abo') }}" method="post">

            {# Nom et prénom #}
            <div class="row">
                <div class="input-field col m4 offset-m1 s11 ">
                    <input name="prenom" type="text" class="validate" required="required">
                    <label for="prenom">Prénom</label>
                </div>
                <div class="input-field col m4 offset-m1 s11">
                    <input name="nom" type="text" class="validate" required="required">
                    <label for="nom">Nom</label>
                </div>
            </div>

            {# Mail et Tel #}

            <div class="row">
                <div class="input-field col m4 offset-m1 s11">
                    <input name="email" type="email" class="validate"required="required">
                    <label for="email">Email</label>
                </div>
                <div class="input-field col m4 offset-m1 s11">
                    <input class="validate" name="tel" type="tel" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$">
                    <label for="tel">Téléphone</label>
                </div>
            </div>

            {# Adresse #}

            <div class="row">
                <div class="input-field col m9 offset-m1 s11">
                    <input type="text" name="rue" class="validate" required="required">
                    <label for="rue">Rue</label>
                </div>
                <div class="input-field col m2 offset-m1 s11">
                    <input name="cp" type="number" min="1000" max="99999" required="required">
                    <label for="cp">Code Postal</label>
                </div>
                <div class="input-field col m3 offset-m1 s11">
                    <input name="ville" type="text" class="validate" required="required">
                    <label for="ville">Ville</label>
                </div>
                <div class="input-field col m2 offset-m1 s11">
                    <input name="pays" type="text" class="validate" required="required">
                    <label for="pays">Pays</label>
                </div>
            </div>

            {# Case abonnement Newsletter #}
            <div class="row">
                <div class="col m2 offset-m1 s11 champsForm">
                    <p>En plus :</p>
                    <input type="checkbox" id="newsletter" name="newsletter" checked="checked" value="off"/>
                    <label for="newsletter">
                        {% if cadeau != true %}
                            <span>Je m'abonne à la Newsletter</span>
                        {% else %}
                            <span>L'abonner à la Newsletter</span>
                        {% endif %}
                    </label>
                </div>
            </div>

            {# Bouton valider #}
            <div class="row">
                <div class="col m2 offset-m5 s5 offset-s3 center">
                    <button class="btn waves-effect waves-light" type="submit" name="valider">
                        Valider
                    </button>
                </div>
            </div>

        </form>
    </div>

{% endblock %}

{# JQuery test couleurs boutons #}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            if ('{{ app.session.get("type") }}' == 'lecteur'){
                $('.abomodel').css('background-color', 'rgba(138,225,58,0.75)');
                $('.acheter').val('AUJPY5RMCGQX8');
            }
            else if ('{{ app.session.get("type") }}' == 'donateur'){
                $(".abomodel").css('background-color', 'rgba(239,255,0,0.55)');
                $('.acheter').val('RDHX34X98AEB2')

            }
            else if ('{{ app.session.get("type") }}' == 'ambassadeur'){
                $(".abomodel").css('background-color', 'rgba(247,113,24,0.75)');
                $('.acheter').val('Z8SEB45LSL3LQ')
            }
        });
    </script>

{% endblock %}