{#{% extends 'base.html.twig' %}#}

{%  block header %}

<header>
    <div class="navbar-fixed">
        <nav>
            <a href="https://twitter.com/Ruralismagazine" target="_blank">
                <img class="logotwitter" src="{{ asset('bundles/ruralis/images/twitter.png') }}" alt="twitter" />
            </a>
            <a href="https://www.facebook.com/Ruralis-Magazine-488687077922669/" target="_blank">
                <img class="logofb" src="{{ asset('bundles/ruralis/images/facebook.png') }}" alt="facebook" />
            </a>
            <a href="http://www.instagram.com" target="_blank">
                <img class="logoinsta" src="{{ asset('bundles/ruralis/images/instagram.png') }}" alt="instagram" />
            </a>

            <div class="nav-wrapper">
                <a href="#" class="brand-logo">
                    <img src="{{ asset('bundles/ruralis/images/logoarbre1.png') }}" id="animation" alt="Logo arbre16"/>
                </a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">Menu</i></a>

                <ul class="left hide-on-med-and-down">
                    <li class="active"><a href="{{ path('ruralis_homepage') }}">Accueil</a></li>
                    <li class="active"><a href="{{ path('ruralis_presentation') }}">Ruralis</a></li>
                    <li class="active"><a href="{{ path('ruralis_abonnement') }}">S'abonner</a></li>
                    <li class="active"><a href="#">Partenaires</a></li>
                    <li class="active"><a href="#">Newsletter</a></li>
                    <li class="active"><a href="{{ path('article_index') }}">Admin</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li class="active"><a href="{{ path('ruralis_homepage') }}">Accueil</a></li>
                    <li class="active"><a href="{{ path('ruralis_presentation') }}">Ruralis</a></li>
                    <li class="active"><a href="{{ path('ruralis_abonnement') }}">S'abonner</a></li>
                    <li class="active"><a href="#">Partenaires</a></li>
                    <li class="active"><a href="#">Newsletter</a></li>
                    <li class="active"><a href="{{ path('article_index') }}">Admin</a></li>
                </ul>
            </div>
        </nav>
    </div>

{% endblock %}
</header>









{#FORMER ONE#}


{#<header>#}
    {#<div class="ancre" id="top"></div>#}
    {#<div class="navbar-fixed">#}
        {#<nav>#}
            {#<a href="https://twitter.com/Ruralismagazine" target="_blank">#}
                {#<img class="logotwitter" src="{{ asset('bundles/ruralis/images/twitter.png') }}" alt="twitter" />#}
            {#</a>#}
            {#<a href="https://www.facebook.com/Ruralis-Magazine-488687077922669/" target="_blank">#}
                {#<img class="logofb" src="{{ asset('bundles/ruralis/images/facebook.png') }}" alt="facebook" />#}
            {#</a>#}
            {#<a href="http://www.instagram.com" target="_blank">#}
                {#<img class="logoinsta" src="{{ asset('bundles/ruralis/images/instagram.png') }}" alt="instagram" />#}
            {#</a>#}
            {#<div class="nav-wrapper z-depth-1">#}
                {#<img src="{{ asset('bundles/ruralis/images/logoarbre1.png') }}" id="animation" alt="Logo arbre16"/>#}
                {#<!-- Next image is used for first frame, before scroll -->#}
                {#<!--<img src="img/logoarbre1.png" />-->#}
                {#<div id="bottommark"></div>#}

                {#INSERER LES LIENS VERS LES PAGES DANS LE MENU#}
                {#<ul class="left hide-on-med-and-down">#}
                    {#<li><a href="{{ path('ruralis_homepage') }}">Accueil</a></li>#}
                    {#<li><a href="{{ path('ruralis_presentation') }}">Ruralis</a></li>#}
                    {#<li><a href="{{ path('ruralis_abonnement') }}">S'abonner</a></li>#}
                    {#<li><a href="#">Partenaires</a></li>#}
                    {#<li><a href="#">Newsletter</a></li>#}
                    {#<li><a href="{{ path('article_index') }}">Admin</a></li>#}
                {#</ul>#}
            {#</div>#}
        {#</nav>#}
    {#</div>#}
{#</header>#}