<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Newsletter Ruralis Magazine</title>
    <style>
        h1 {
            font-family: 'majalla', 'Arial', 'Times New Roman' !important;
        }
    </style>
</head>

{% block body %}
<div style="margin-top: 15px !important; padding: 10px !important; margin-left:5% !important; margin-right:5% !important;">
    <img src="{{ cid }}" alt="logo" style="width: 10% !important; margin-left: 45% !important">
    <div style="color:rgb(234,100,12) !important">
        <h1 style="font-family: 'majalla', 'Arial', 'Times New Roman' !important; font-size: 18px !important;">{{ titre }}</h1>
    </div>
    <div style="text-align: justify !important; margin-top: 25px !important; font-size: 15px !important;">
        {{ contenu | raw }}
    </div>
    <div style="margin-top:10px !important;">
        Pour continuer la lecture, <a style="color:rgb(234,100,12) !important" href="{{ url('ruralis_homepage') }}">Le site de Ruralis Magazine</a>
    </div>
    <div  style="text-align: center !important; font-size:12px !important;">
        <p>
            Pour nous contacter : <a style="color:rgb(234,100,12) !important" href="mailto:contact@ruralismagazine.com">contact@ruralismagazine.com</a>contact@ruralismagazine.com
        </p>
        <p>
            Pour vous désinscrire <a style="color:rgb(234,100,12) !important" href="{{ url('ruralis_desinscription_news') }}">cliquez ici</a>
        </p>
    </div>
</div>
{% endblock %}
</html>

