<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .logo {
            width: 10%;
            margin-left: 45%;
        }

        .orange{
            color:rgb(234,100,12);
        }
        .container {
            margin-top: 15px;
            padding: 10px;
            margin-left:5%;
            margin-right:5%;
        }

        .center {
            text-align: center;
        }

        .site {<
            margin-top:10px;
        }

        .small{
            font-size:12px;
        }

        .justify {
            text-align: justify;
        }
        h1{
            font-family: 'majalla', 'Arial', 'Times New Roman';
            font-size: 18px;
        }
        .message {
            text-align: justify;
            margin-top: 25px;
            font-size: 15px;
        }
    </style>
</head>


{% block body %}
<div class="container">
    <img src="{{ cid }}" alt="logo" class="logo">
    <div class="orange">
        <h1>{{ titre }}</h1>
    </div>
    <div class="justify message">
        {{ contenu | raw }}
    </div>
    <div class="site">
        Pour continuer la lecture, <a class="orange" href="{{ url('ruralis_homepage') }}">Le site de Ruralis Magazine</a>
    </div>
    <div class="center small">
        <p>
            Pour nous contacter : <a class="orange" href="mailto:contact@ruralismagazine.com">contact@ruralismagazine.com</a>contact@ruralismagazine.com
        </p>
        <p>
            Pour vous désinscrire <a class="orange" href="{{ url('ruralis_desinscription_news') }}">cliquez ici</a>
        </p>
    </div>
</div>
{% endblock %}
</html>

