{% extends 'base.html.twig' %}
{% block body %}
        <div class="container partenaire">
            <div class="row partenaireTop">
                <div class="col s12">
                    <h4>
                        Nos partenaires
                    </h4>
                </div>
                <div class="col s12">
                    <p>
                        Ils nous font déjà confiance !
                    </p>
                    <p>
                        L’association APRIORI, tout en maintenant son autonomie, accepte de mettre en commun les forces de ses partenaires pour encourager ce projet éditorial.
                    </p>
                    <p>
                        C’est une alliance de raison mais pas que … les relations devenant plus étroites, Ruralis Magazine exprime des attentes, nos partenaires nous aident à y répondre.
                    </p>
                </div>
            </div>
            <div class="row">
                {% for partenaire in partenaires %}
                    <div class="col s3 part1">
                        <div class="row">
                            <div class="col offset-s1 s10 nomPart">
                                {{ partenaire.nom }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 valign-wrapper photoPart">
                                <img src="{{ asset('/uploads/images/') }}{{ partenaire.image.url }}" alt="{{ partenaire.image.alt }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col offset-s1 s10 descPart">
                                {{ partenaire.descriptif }}
                            </div>
                        </div>

                    </div>

                {% endfor %}
            </div>
        </div>

{% endblock body %}