{% extends 'base.html.twig' %}

{% block body %}
    <div class="abonnement">
        <h1>Récapitulatif de votre abonnement</h1>

        <div class="row abomodel formulaire z-depth-2">
            <div class="col m10 offset-m1 champsFormz">
                <p>
                    Vous souhaitez vous abonner en tant que <b>{{ app.session.get('type') }}</b> pour une durée d'un an.
                </p>

                <p class="recaptitres">
                    Vos coordonnées :
                </p>
                <div class="row">
                    <div class="col m4 offset-m1 s12">
                       <p>
                           Prénom : {{ details.prenom }}
                       </p>
                    </div>
                    <div class="col m4 offset-m1 s12">
                        <p>
                            Nom : {{ details.nom }}
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col m4 offset-m1 s12">
                        <p>
                            Mail : {{ details.email }}
                        </p>
                    </div>
                    <div class="col m4 offset-m1 s12">
                        <p>
                            Téléphone : {{ details.tel }}
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col m4 offset-m1 s12">
                        <p>
                            Adresse :
                        </p>
                        <div class="row">
                            <div class="col m10 offset-m1 s12">
                                <p>
                                    {{ details.rue }}<br>
                                    {{ details.cp }}<br>
                                    {{ details.ville }}<br>
                                    {{ details.pays }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


                {% if details.newsletter != "on" %}
                    <p>
                        Vous ne souhaitez pas vous abonner à la Newsletter.
                    </p>
                    {% else %}
                        {% if alert == 1 %}
                            <p>
                                Vous êtes déjà abonné à la Newsletter
                            </p>
                        {% else %}
                        <p>
                            Vous souhaitez vous abonner à la Newsletter.
                        </p>
                        {% endif %}
                {% endif %}

                {# Boutons #}
                <div class="row">
                    <div class="col s2 offset-s5 center">
                        <a href="{{ path('ruralis_abosend') }}">Send abo</a>
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input  class="acheter" type="hidden" name="hosted_button_id" value="TYJXWFXKWDMPN">
                            <a href="{{ path('ruralis_abosend') }}">
                                <button class="btn waves-effect waves-light" type="submit" name="valider">
                                    Valider
                                </button>
                            </a>
                        </form>

                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="AUJPY5RMCGQX8">
                            <input type="image" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal, le réflexe sécurité pour payer en ligne">
                            <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>

    {#ajout du prix#}
    {#ajout durée de paiement#}

{% endblock %}

{# JQuery avec background demandés par clients #}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            if ('{{ app.session.get("type") }}' == 'lecteur'){
                $('.abomodel').css('background-color', 'rgba(138,225,58,0.75)');
                $('.acheter').val('AUJPY5RMCGQX8');
            }
            else if ('{{ app.session.get("type") }}' == 'donateur'){
                $(".abomodel").css('background-color', 'rgba(239,255,0,0.55)');
                $('.acheter').val('RDHX34X98AEB2')
            }
            else if ('{{ app.session.get("type") }}' == 'ambassadeur'){
                $(".abomodel").css('background-color', 'rgba(247,113,24,0.75)');
                $('.acheter').val('Z8SEB45LSL3LQ')
            }
        });
    </script>
{% endblock %}

{# Test Jquery couleurs ailleurs #}
{#{% block javascripts %}#}
    {#{{ parent() }}#}
    {#<script>#}
        {#$(document).ready(function() {#}
            {#Materialize.updateTextFields();#}
            {#if ('{{ app.session.get("type") }}' == 'lecteur'){#}
                {#$('.formulaire').css(' box-shadow', '0 4px 5px 0 rgba(234,100,12, 0.65), 0 1px 10px 0  rgba(234,100,12, 0.94), 0 2px 4px -1px rgba(234,100,12, 0.65)');#}
                {#$('.btn').css('background-color', 'green').hover(function() {#}
                    {#$(this).css('background-color', 'rgb(0,184,43)');#}
                {#})#}
            {#}#}
            {#else if ('{{ app.session.get("type") }}' == 'donateur'){#}
                {#$(".abomodel").css(' box-shadow', 'rgba(239,255,0,0.55)');#}
                {#$('.btn').css({#}
                    {#'background-color':'yellow',#}
                    {#'color': 'rgb(65, 65, 65)'#}
                {#})#}
                {#.hover(function() {#}
                    {#$(this).css('background-color', 'rgb(255,242,21)')#}
                {#})#}
            {#}#}
            {#else if ('{{ app.session.get("type") }}' == 'ambassadeur'){#}
                {#$(".abomodel").css(' box-shadow', 'rgba(247,113,24,0.75)');#}
                {#$('.btn').css('background-color', 'orange').hover(function() {#}
                    {#$(this).css('background-color', 'rgb(255,109,13)');#}
                {#})#}
            {#}#}
        {#});#}
    {#</script>#}

{#{% endblock %}#}