{% extends 'base.html.twig' %}

{% block body %}

<div>
    <div class="row">
        <div class="fixedSideNav center">
            <div class="row">

            </div>
                <div class="row">
                    <p>
                        Je m'abonne
                    </p>
                </div>
                <div class="row">
                    <a class="vert" href="{{ asset('bundles/ruralis/images/abonnement_de_lecteur.pdf') }}" target="_blank">
                        <img class="logoabt" src="{{ asset('bundles/ruralis/images/bouton-vert .png') }}" alt="logo48"  />
                    </a>
                </div>
                <div class="row">
                    <a href="{{ asset('bundles/ruralis/images/abonnement_de_soutien.pdf') }}"  target="_blank">
                        <img class="logoabt" src="{{ asset('bundles/ruralis/images/bouton-jaune .png') }}" alt="logo150"  />
                    </a>
                </div>
                <div class="row">
                    <a href="{{ asset('bundles/ruralis/images/abonnement_ambassadeur.pdf') }}"  target="_blank">
                        <img class="logoabt" src="{{ asset('bundles/ruralis/images/bouton-orange .png') }}" alt="logo250"  />
                    </a>
                </div>
                <div class="row">
                    <p>
                        J'encourage Ruralis Magazine
                    </p>
                </div>
                <div class="row">
                    <a href="{{ asset('/') }}" target="_blank">
                        <img class="logoabt" src="{{ asset('bundles/ruralis/images/logopaypal.png') }}" alt="logo Paypal"  />
                    </a>
                </div>
        </div>

        <div class="col s9 offset-s2 blogTop">
            {#      CARD DE UNE      #}

            {% if article_une.typeAffichage is defined %}
            <div class="row article">
                <div class="card large col s12 hoverable la_une">
                    <div style="z-index: 0 !important;" class="card-image waves-effect waves-block waves-light">
                        <img class="activator" width="20%" src="{{ asset('/uploads/images/') }}{{ article_une.image.url }}" alt="{{ article_une.image.alt }}">
                    </div>

                    <div class="card-content">
                        <div class="card-title activator grey-text text-darken-4">
                            <i class="material-icons right">more_vert</i>
                            <h5>
                                {{ article_une.nom }}
                            </h5>
                        </div>
                    </div>
                    {#    Information about the News revealed once clicked on      #}
                    <div class="card-reveal">
                        <div class="card-title grey-text text-darken-4">
                            <i class="material-icons right">close</i>
                            <p>
                                {{ article_une.descriptif | nl2br }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

                {% set is_row = false %}
                {% for index, article in articles %}
                    {% if article.typeAffichage != 'Carré' and is_row %}
                        </div>
                        {% set is_row = false %}
                    {% endif %}

            {#      CARDS BLOG      #}

                        {# CARD CARRE #}
                        {% if article.typeAffichage == 'Carré'%}
                            {% if not(index > 0 and articles[index-1].typeAffichage == 'Carré') %}
                                <div class="row article rowCustom">
                                {% set is_row = true %}
                            {%  endif %}
                                    <div class="col offset-s2 s5 carre card hoverable colCustom">
                                        {# First card #}
                                        <div class="card cardCarre">
                                            <div class="card-image waves-effect waves-block waves-light">
                                                <img class="activator" src="{{ asset('/uploads/images/') }}{{ article.image.url }}" alt="{{ article.image.alt }}">
                                            </div>
                                            <div class="card-content">
                                                <div class="card-title activator grey-text text-darken-4">
                                                    <i class="material-icons right">more_vert</i>
                                                    <h5>{{ article.nom }}</h5>
                                                </div>
                                            </div>
                                            {#    Information about the article 1 revealed once clicked on      #}
                                            <div class="card-reveal tooltipped" data-position="bottom" data-delay="50" data-tooltip="Cliquez pour fermer">
                                                <div class="row card-title grey-text text-darken-4">
                                                    <i class="material-icons right">close</i>
                                                    <p>
                                                       {{ article.descriptif |nl2br }}
                                                   </p>
                                                </div>
                                             </div>
                                        </div>
                                    </div>


                        {# RECTANGLE + LIEN ABONNEMENT #}
                        {% elseif article.typeAffichage == 'Rectangle + lien abonnement' %}
                            {# Second card #}
                            <div class="row article">
                                <div class="col s12 hoverable">
                                    <h5 class="header">
                                        {{ article.nom }}
                                    </h5>
                                    <div class="card horizontal">
                                        <div class="card-image">
                                            <img width=20% src="{{ asset('/uploads/images/') }}{{ article.image.url }}" alt="{{ article.image.alt }}">
                                        </div>
                                        <div class="card-stacked">
                                            <div class="card-content">
                                                <p>{{ article.descriptif}}</p>
                                            </div>
                                            <div class="card-action">
                                                <a href="{{ path('ruralis_abonnement') }}" class="cardLink">Pour en savoir plus abonnez-vous</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {# RECTANGLE + DESCRIPTIF #}
                        {% elseif article.typeAffichage == 'Rectangle + descriptif' %}
                            <div class="row article">
                                <div class="col s12 hoverable">
                                    <h5 class="header">
                                        {{ article.nom  }}
                                    </h5>
                                    <div class="card horizontal">
                                        <div class="card-image">
                                            <img width=20% src="{{ asset('/uploads/images/') }}{{ article.image.url }}" alt="{{ article.image.alt }}">
                                        </div>
                                        <div class="card-stacked">
                                            <div class="card-content">
                                                <p>{{ article.descriptif }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {# RECTANGLE + ARTICLE COMPLET #}
                        {% elseif article.typeAffichage == 'Rectangle + article complet' %}
                            <div class="row">
                                <div class="col s12 hoverable">
                                    <h5 class="header">
                                        {{ article.nom  }}
                                    </h5>
                                    <div class="card horizontal">
                                        <div class="card-image">
                                            <img width=20% src="{{ asset('/uploads/images/') }}{{ article.image.url }}" alt="{{ article.image.alt }}">
                                        </div>
                                        <div class="card-stacked">
                                            <div class="card-content">
                                                <p>{{ article.descriptif | nl2br }}</p>
                                            </div>
                                            <div class="card-action">
                                                <a href="{{ path('ruralis_article', {id: article.id}) }}" class="cardLink">Lire l'article complet</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    {%  endif %}
                {% endfor %}
                {% if is_row %}
                    </div>
                    {% set is_row = false %}
                {% endif %}
            <div class="row">
                <div class="col offset-s5 s3 navigation">
                    {{ knp_pagination_render(articles) }}
                </div>
            </div>
        </div>
    </div>

    {% block javascripts %}
        {{ parent() }}
        <script>
                console.log('plop');

                $('.carre').each(function (index){
                    if (index % 2 == 0)
                    {
                        $(this).removeClass("offset-s2");
                    }
                });
                var bottom_fixedSideNav = $("footer").height() + 40;
                var top_fixedSideNav = $("header").height() + 10;
                $(".fixedSideNav").css({
                    "top": top_fixedSideNav,
                    "bottom": bottom_fixedSideNav
                });

        </script>
    {% endblock %}

{% endblock %}