{% extends 'base.html.twig' %}

{% block body %}
<div class="row adminmodel z-depth-2">
    <div class="col m8 offset-m2">
        <h1>Editer {{ partenaire.nom }}</h1>

        {{ form_start(edit_form) }}

        <div>
            {{ form_label(edit_form.nom) }}
            {{ form_errors(edit_form.nom) }}
            {{ form_widget(edit_form.nom) }}
        </div>

        <div>
            {{ form_label(edit_form.descriptif) }}
            {{ form_errors(edit_form.descriptif) }}
            {{ form_widget(edit_form.descriptif) }}
        </div>

        <div class="row file-field input-field">
            <div class="middleText">
                Image actuelle
            </div>
            <img class="responsive-img thumbs" src="{{ asset('/uploads/images/') }}{{ article.image.url }}" alt="{{ article.image.alt }}">
        </div>
        <div class="row file-field input-field">
            <div class="btn">
                <span>Changer l'image</span>
                {{ form_widget(edit_form.image.file) }}
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Cliquez pour modifier votre image.">
            </div>
            {{ form_errors(edit_form.image.file) }}
        </div>
        <div class="row">
            Description de l'image
            {{ form_widget(edit_form.image.alt) }}
            {{ form_errors(edit_form.image.alt) }}
        </div>

        <input type="submit" value="Modifier l'article" />

        {{ form_end(edit_form) }}
    </div>

    <ul>
        <li>
            <a href="{{ path('partenaire_index') }}">Liste des partenaires</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
