{% extends 'base.html.twig' %}

{% block body %}

<div class="row adminmodel z-depth-2 partenaire">
    <div class="col m10 offset-m1">
        <h1>Editer {{ partenaire.nom }}</h1>

        {{ form_start(edit_form) }}

        <div>
            {{ form_label(edit_form.nom) }}
            {{ form_errors(edit_form.nom) }}
            {{ form_widget(edit_form.nom) }}
        </div>

        <div>
            {{ form_label(edit_form.descriptif) }}
            {{ form_errors(edit_form.descriptif) }}
            {{ form_widget(edit_form.descriptif) }}
        </div>

        <div class="row file-field input-field">
            <div class="middleText">
                Image actuelle
            </div>
            <img class="responsive-img thumbs roundBorder" src="{{ asset('/uploads/images/') }}{{ partenaire.image.url }}" alt="{{ partenaire.image.alt }}">
        </div>
        <div class="row file-field input-field">
            <div class="btn">
                <span>Changer l'image</span>
                {{ form_widget(edit_form.image.file) }}
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Cliquez pour modifier votre image.">
                <p class="boldtxt">Attention taille maximum de l'image 2mo</p>
            </div>
            {{ form_errors(edit_form.image.file) }}
        </div>
        <div class="row">
            Description de l'image
            {{ form_widget(edit_form.image.alt) }}
            {{ form_errors(edit_form.image.alt) }}
        </div>

        {# Boutons #}
        <div class="center">
            <a class="waves-effect waves-light btn">
                <input type="submit" value="Modifier le partenaire">
            </a>

            {{ form_end(edit_form) }}

            <a class="waves-effect waves-light btn" href="{{ path('partenaire_index') }}">
                Liste des partenaires
            </a>
        </div>
    </div>

{% endblock %}
