{% extends 'base.html.twig' %}

{% block body %}
<div class="row adminmodel z-depth-2">
    <div class="col m10 offset-m1">
        <h1>Liste des partenaires</h1>

        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Descriptif</th>
                    <th>Image</th>
                </tr>
            </thead>

            <tbody>
    {% for partenaire in partenaires %}
                <tr>
                    <td class="nomPart">{{ partenaire.nom }}</td>
                    <td>{{ partenaire.descriptif }}</td>
                    <td class="center"><img width="30%" src="{{ asset('/uploads/images/') }}{{ partenaire.image.url }}" alt="{{ partenaire.image.alt }}"></td>
                    <td><a href="{{ path('partenaire_show', { 'id': partenaire.id }) }}">Voir</a></td>
                    <td><a href="{{ path('partenaire_edit', { 'id': partenaire.id }) }}">Editer</a></td>
                    <td><a href="{{ path('partenaire_delete', { 'id': partenaire.id }) }}">Supprimer</a></td>
                </tr>
    {% endfor %}

            </tbody>

        </table>

        {# Bouton #}
        <div class="row center">
            <a class="waves-effect waves-light btn" href="{{ path('partenaire_new') }}">Nouveau partenaire</a>
        </div>

    </div>
</div>
{% endblock %}
