{% extends 'base.html.twig' %}

{% block body %}
    <div class="container adminmodel adminPart">
        <div class="col m8 offset-m2">
            <h1 class="nouvel_article">Nouveau partenaire</h1>
            <div class="row">
                {{ form_start(form) }}
                <div class="row input-field">
                    {{ form_label(form.nom) }}
                    {{ form_errors(form.nom) }}
                    {{ form_widget(form.nom) }}
                </div>
                <div class="row input-field">
                    {{ form_label(form.descriptif) }}
                    {{ form_errors(form.descriptif) }}
                    {{ form_widget(form.descriptif) }}
                </div>
                <div class="row file-field input-field">
                    <div class="btn">
                        <div>Image</div>
                        {{ form_widget(form.image.file) }}
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Cliquez pour ajouter votre image" required>
                    </div>
                    {{ form_errors(form.image.file) }}
                </div>
                <div class="row input-field">
                    {{ form_label(form.image.alt) }}
                    {{ form_widget(form.image.alt) }}
                    {{ form_errors(form.image.alt) }}
                </div>

                <div class="boutons row">
                    <div class=" col offset-s1 s5">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Ajouter un partenaire
                        </button>
                    </div>
                    {{ form_end(form) }}

                    <div class="col offset-s1 s5">
                        <a href="{{ path('article_index') }}" class="btn waves-effect waves-light">
                            Liste des partenaires
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
