{% extends 'base.html.twig' %}

{% block body %}
<div class="row adminmodel z-depth-2">
    <div class="col m8 offset-m2">
        <h1>Partenaire</h1>

        <table>
            <tbody>
                <tr>
                    <th>Nom</th>
                    <td>{{ partenaire.nom }}</td>
                </tr>
                <tr>
                    <th>Descriptif</th>
                    <td>{{ partenaire.descriptif }}</td>
                </tr>
                <tr>
                    <th>Image</th>
                    <td>
                        <img src="{{ asset('/uploads/images/') }}{{ partenaire.image.url }}" alt="{{ partenaire.image.alt }}">
                    </td>
                </tr>
            </tbody>
        </table>

        {# Boutons #}
        <div class="row center">
            <a class="waves-effect waves-light btn" href="{{ path('partenaire_edit', { 'id': partenaire.id }) }}">
                Editer
            </a>

            <a class="waves-effect waves-light btn" href="{{ path('partenaire_delete', { 'id': partenaire.id }) }}">Supprimer</a>

            <a class="waves-effect waves-light btn" href="{{ path('partenaire_index') }}">
                Liste des partenaires
            </a>
    </div>
</div>
{% endblock %}
