{% extends 'base.html.twig' %}

{% block body %}

    <div class="row adminmodel z-depth-2">
        <div class="col m10 offset-m1">
            {{ form_start(edit_form) }}

            <div>
                {{ form_label(edit_form.titre) }}
                {{ form_errors(edit_form.titre) }}
                {{ form_widget(edit_form.titre) }}
            </div>

            <div class="row hidden" id="newContenu">
                {{ form_label(edit_form.contenu) }}
                {{ form_errors(edit_form.contenu) }}
                {{ form_widget(edit_form.contenu) }}
            </div>

            {# Boutons #}
            <div class="center">
                <a class="waves-effect waves-light btn">
                    <input type="submit" value="Modifier la newsletter" />
                </a>

                {{ form_end(edit_form) }}

                <a class="waves-effect waves-light btn" href="{{ path('newsletter_index') }}">
                    Liste des newsletters
                </a>
            </div>
        </div>
    </div>
{% endblock %}
