{% extends 'base.html.twig' %}

{% block body %}

    <div class="row adminmodel z-depth-2">
        <div class="col m10 offset-m1">
            <h1>Nouvelle newsletter</h1>
            <div class="row">
                {{ form_start(form) }}
                <div class="row input-field">
                    {{ form_label(form.titre) }}
                    {{ form_errors(form.titre) }}
                    {{ form_widget(form.titre) }}
                </div>

                <div class="row">
                    {{ form_label(form.contenu) }}
                    {{ form_errors(form.contenu) }}
                    {{ form_widget(form.contenu ) }}
                </div>

                {# Boutons #}
                <div class="row center">
                    <button class="btn waves-effect waves-light" type="submit" name="action">
                        Ajouter une newsletter
                    </button>

                    {{ form_end(form) }}

                    <a href="{{ path('article_index') }}">
                        <button class="btn waves-effect waves-light" type="submit" name="action">
                            Liste des newsletters
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}