{% extends 'base.html.twig' %}

{% block body %}
    <div class="row adminmodel z-depth-2">
        <div class="col m10 offset-m1">
            <h1>{{ newsletter.titre }}</h1>

            <table>
                <tbody>
                <tr>
                    <th>Titre</th>
                    <td>{{ newsletter.titre }}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>{{ newsletter.date|date('d M Y') }}</td>
                </tr>
                <tr>
                    <th>Contenu</th>
                    <td>{{ newsletter.contenu | raw}}</td>
                </tr>
                </tbody>
            </table>

            {# Boutons #}
            <div class="center">
                <a class="waves-effect waves-light btn" href="{{ path('newsletter_edit', { 'id': newsletter.id }) }}">
                    Editer
                </a>

                <a class="waves-effect waves-light btn" href="{{ path('newsletter_delete', { 'id': newsletter.id }) }}">Supprimer
                </a>

                <a class="waves-effect waves-light btn" href="{{ path('newsletter_index') }}">
                    Liste des newsletters
                </a>
            </div>
        </div>
    </div>
{% endblock %}
