{% extends 'base.html.twig' %}

{% block body %}
    <div class="row adminmodel z-depth-2">
        <div class="col m10 offset-m1">
            <h1>Bienvenue sur l'administration du site</h1>

            {# Ligne 1 #}
            <div class="row">
                <div class="col s4 offset-s1">
                    <a href="{{ path }}">
                        Blog
                    </a>
                </div>

                <div class="col s4 offset-s1">
                    <a href="{{ path }}">
                        Abonnement
                    </a>
                </div>
            </div>

            {# Ligne 2#}
            <div class="row">
                <div class="col s4 offset-s1">
                    <a href="{{ path }}">
                       Partenaires
                    </a>
                </div>
                <div class="col s4 offset-s1">
                    <a href="{{ path }}">
                        Ruralis
                    </a>
                </div>
            </div>

            {# Ligne 3 #}
            <div class="row">
                <div class="col s4 offset-s1">
                    <a href="{{ path }}">
                        Newsletter
                    </a>
                </div>
                <div class="col s4 offset-s1">
                    <a href="{{ path }}">
                        Abonnés
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
